@tailwind base;
@tailwind components;
@tailwind utilities;

.loading {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 2px solid rgba(0, 0, 0, .2);
    border-radius: 50%;
    border-top-color: rgba(0, 0, 0, .4);
    -webkit-animation: spin 1s ease-in-out infinite;
    animation: spin 1s ease-in-out infinite;
    left: calc(50%);
    top: calc(50%);
    position: fixed;
    z-index: 1;
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}